PORT=4200

# postgresql://USER:PASSWORD@HOST:PORT/DATABASE
DATABASE_URL="postgresql://postgres:postgres@localhost:5435/cheil_db?schema=public"

# para docker
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres
POSTGRES_DB=cheil_db

# pg admin
PGADMIN_EMAIL=admin@cheil.pe
PGADMIN_PASSWORD=admin123

# generar con openssl rand -hex 32
JWT_SECRET="change_this_to_a_random_secret_of_at_least_32_chars"
JWT_EXPIRES_IN="1d"

CORS_ORIGINS="http://localhost:3000"
